@model PlayerViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P.PlayerDartname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P.PlayerDartname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P.PlayerContactData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P.PlayerContactData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P.PlayerInterpret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P.PlayerInterpret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P.PlayerSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P.PlayerSong)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.P.PlayerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
