@model ChemodartsWebApp.Models.Player

@{
    ViewData["Title"] = "Details";

    bool showSeeds = true; ;
    if(ViewData["ShowSeeds"]?.Equals("false") ?? false) showSeeds = false;

    bool showMatches = true; ;
    if(ViewData["ShowMatches"]?.Equals("false") ?? false) showMatches = false;
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerDartname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerDartname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerContactData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerContactData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerInterpret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerInterpret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerSong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if(showSeeds) {
    <h2>Gespielte Turniere</h2>
    @foreach (var seed in Model.Seeds)
    {
        //@Html.DisplayFor(m => seed, "Tournament/SeedResult")
        <a asp-controller="Tournament" asp-route-tournamentId=@seed.Tournament.TournamentId asp-action="Players" asp-route-id=@seed.SeedId>
            @seed.Tournament.TournamentName
        </a>
    }
}

@if (showMatches)
{
    <h2>Alle Matches</h2>
    @Html.DisplayFor(m => Model.Matches, "Match/MatchList")
}