@model Player

@{
    bool boldPlayerName = false;
    if(ViewData["bold"]?.Equals("true") ?? false) boldPlayerName = true;
}

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => Model.CombinedName)
        </th>
        break;
    case "Content":
        <td>
        @if (Model is object) {
            <a asp-controller="Players" asp-action="Details" asp-route-id="@Model.PlayerId">
                @if(boldPlayerName)
                {
                    <b>@Html.DisplayFor(model => Model.CombinedName)</b>
                }
                else
                {
                    @Html.DisplayFor(model => Model.CombinedName)
                }
            </a>
        }else{
            @Html.DisplayFor(model => Model.CombinedName)
        }
        </td>
        break;
    default:
        goto case "Content";
}