@model Player

@switch(ViewData["RenderType"])
{
    case "Header":
        @*<th>
            @Html.DisplayNameFor(model => model.PlayerContactData)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PlayerInterpret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerSong)
        </th>
        @if (User.Identity.IsAuthenticated){ <th>Admin</th> }
        break;
    case "Content":
        @*<td>
            @Html.DisplayFor(modelItem => Model.PlayerContactData)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => Model.PlayerInterpret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.PlayerSong)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                <a cd-route="Players" cd-action="Edit" cd-route-playerId="@Model.PlayerId">Edit</a> |
                <a cd-route="Players" cd-action="Details" cd-route-playerId="@Model.PlayerId">Details</a> |
                <a cd-route="Players" cd-action="Delete" cd-route-playerId="@Model.PlayerId">Delete</a>
            </td>
        }
        break;
    default:
        goto case "Content";
}