@model MatchViewModel

@{
    ViewData["Title"] = "Match Details";
}

<h1>Match Info (@Model.M.Group.Round.Tournament.TournamentName - @Model.M.Group.Round.RoundName)</h1>

<h2>Ergebnis</h2>
@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", new List<Match>() {Model.M}, new ViewDataDictionary(ViewData) { { "ShowGroup", "false" }})

<h2>Direkter Vergleich</h2>
<div>
    <table class="table">
        <tr>
            <th><b>@Model.M.Seed1?.Player.CombinedName</b></th>
            <th>vs.</th>
            <th><b>@Model.M.Seed2?.Player.CombinedName</b></th>
        </tr>
        @if (Model.M.Group.Round.Modus != RoundModus.RoundRobin) {
            <tr>
                <td>
                    <a cd-route="Group" cd-action="Index" cd-route-groupId="@Model.M.Seed1.Group.GroupId">
                        @Html.DisplayFor(model => model.M.Seed1.Group.GroupName)
                </a></td>
                @Html.DisplayFor(m => Model.M, "Match/Columns/MatchGroup", new { RenderType = "Header"})
                <td>
                    <a cd-route="Group" cd-action="Index" cd-route-groupId="@Model.M.Seed1.Group.GroupId">
                        @Html.DisplayFor(model => model.M.Seed2.Group.GroupName)
                </a></td>
            </tr>
        }
         <tr>
            <td><b>@Model.PC.StatsSeed.Statistics.MatchesWon</b> von @Model.PC.StatsSeed.Statistics.Matches</td>
            <td>Siege</td>
            <td><b>@(Model.PC.StatsSeed.Statistics.Matches - Model.PC.StatsSeed.Statistics.MatchesWon)</b> von @Model.PC.StatsSeed.Statistics.Matches</td>
        </tr>
         <tr>
            <td><b>@Model.PC.StatsSeed.Statistics.PointsFor</b> von @(Model.PC.StatsSeed.Statistics.PointsFor + Model.PC.StatsSeed.Statistics.PointsAgainst)</td>
            <td>Legs</td>
            <td><b>@Model.PC.StatsSeed.Statistics.PointsAgainst</b> von @(Model.PC.StatsSeed.Statistics.PointsFor + Model.PC.StatsSeed.Statistics.PointsAgainst)</td>
        </tr>
         <tr>
            <td><b>@Model.PC.StatsSeed.Statistics.PointsDiff</b></td>
            <td>Leg Differenz</td>
            <td><b>@(-Model.PC.StatsSeed.Statistics.PointsDiff)</b></td>
        </tr>
    </table>
</div>

<h2>Historie</h2>
@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", Model.PC?.MatchesBetween?.OrderBy(m => m.MatchId), new ViewDataDictionary(ViewData) { { "ShowTournament", "true" }, { "ShowGroup", "true" }})