@model IEnumerable<ChemodartsWebApp.Models.Match>
@{
    var dummyMatch = Model.FirstOrDefault();

    bool showGroup = false; ;
    if(ViewData["ShowGroup"]?.Equals("true") ?? false) showGroup = true;

    bool showAll = false;
    if (Context.Request.Query["showAll"].Equals("true") || (ViewData["showAll"]?.Equals("true") ?? false)) showAll = true;
}

@if (!showAll)
{
     <a asp-controller="Tournament" asp-action="Matches" asp-route-showAll="true">Alle Anzeigen</a>
}

<table class="table">
    <thead>
        <tr>
            @if(showGroup) @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchGroup", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchPlayer", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchScore", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchVenue", new { RenderType = "Header"})
            @*@Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchTime", new { RenderType = "Header"})*@
            @if (User.Identity.IsAuthenticated)@Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchAdmin", new { RenderType = "Header" })
        </tr>
    </thead>
    <tbody>
@foreach(Match item in Model) {
        <tr id="Match_@item.MatchId">
            @if (showGroup) @Html.DisplayFor(m => item, "Match/Columns/MatchGroup", new { RenderType = "Content"})
            @if (User.Identity.IsAuthenticated && Context.Request.Query["editId"].Equals(item.MatchId.ToString()))
            {
                <form asp-action="MatchEditScore" asp-route-id="@item.MatchId" asp-route-showAll="@Context.Request.Query["showAll"]">
                    @Html.DisplayFor(m => item, "Match/Columns/MatchPlayer", new { RenderType = "Content"})
                    @Html.DisplayFor(m => item, "Match/Columns/MatchScore", new { RenderType = "Content", Edit = "true" })
                    @await Html.PartialAsync("../Shared/DisplayTemplates/Match/Columns/MatchVenue", item, new ViewDataDictionary(ViewData) { { "RenderType", "Content" }, { "Edit",  "true"}})
                    <td>
                        <button type="submit">Speichern</button>
                    </td>
                </form>
            }
            else
            {
                @Html.DisplayFor(m => item, "Match/Columns/MatchPlayer", new { RenderType = "Content"})
                @Html.DisplayFor(m => item, "Match/Columns/MatchScore", new { RenderType = "Content"})
                @Html.DisplayFor(m => item, "Match/Columns/MatchVenue", new { RenderType = "Content"})
                @if (User.Identity.IsAuthenticated)
                    @Html.DisplayFor(m => item, "Match/Columns/MatchAdmin", new { RenderType = "Content" })
                @*@Html.DisplayFor(m => item, "Match/Columns/MatchTime", new { RenderType = "Content"})*@
            }
        </tr>
    }
    </tbody>
</table>