@model IEnumerable<ChemodartsWebApp.Models.Match>
@{
    var dummyMatch = Model.FirstOrDefault();

    bool showGroup = false; ;
    if(ViewData["ShowGroup"]?.Equals("true") ?? false) showGroup = true;
}

<table class="table">
    <thead>
        <tr>
            @if(showGroup) @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchGroup", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchPlayer", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchScore", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchVenue", new { RenderType = "Header"})
            @Html.DisplayFor(m => dummyMatch, "Match/Columns/MatchTime", new { RenderType = "Header"})
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            @if(showGroup) @Html.DisplayFor(m => item, "Match/Columns/MatchGroup", new { RenderType = "Content"})
            @Html.DisplayFor(m => item, "Match/Columns/MatchPlayer", new { RenderType = "Content"})
            @Html.DisplayFor(m => item, "Match/Columns/MatchScore", new { RenderType = "Content"})
            @Html.DisplayFor(m => item, "Match/Columns/MatchVenue", new { RenderType = "Content"})
            @Html.DisplayFor(m => item, "Match/Columns/MatchTime", new { RenderType = "Content"})
        </tr>
    }
    </tbody>
</table>