@model ChemodartsWebApp.Models.Match

<table class="table">
    <thead>
        <tr>
            @Html.DisplayFor(m => Model, "Match/Columns/MatchGroup", new { RenderType = "Header"})
            @Html.DisplayFor(m => Model, "Match/Columns/MatchPlayer", new { RenderType = "Header"})
            @Html.DisplayFor(m => Model, "Match/Columns/MatchScore", new { RenderType = "Header"})
            @Html.DisplayFor(m => Model, "Match/Columns/MatchVenue", new { RenderType = "Header"})
            <th>
                Aktion
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form asp-action="MatchEditScore" asp-route-matchId="@Model.MatchId" asp-route-showAll="@Context.Request.Query["showAll"]">
                @Html.DisplayFor(m => Model, "Match/Columns/MatchGroup", new { RenderType = "Content"})
                @Html.DisplayFor(m => Model, "Match/Columns/MatchPlayer", new { RenderType = "Content"})
                @Html.DisplayFor(m => Model, "Match/Columns/MatchScore", new { RenderType = "Content", Edit = "true" })
                @await Html.PartialAsync("../Shared/DisplayTemplates/Match/Columns/MatchVenue", Model, new ViewDataDictionary(ViewData) { { "RenderType", "Content" }, { "Edit",  "true"}})
            <td>
                    <button type="submit">Speichern2</button>
                </td>
            </form>
        </tr>
    </tbody>
</table>