@model Match

@{
    bool edit = false;
    if(ViewData["Edit"]?.Equals("true") ?? false) edit = true;
    int? newVenueId = null;
    Match.MatchStatus? newStatus = null;
}

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        break;
    case "Content":
        <td>
            @if (edit)
            {
                @Html.DropDownListFor(m => newVenueId, new SelectList(Model.Group.Round.MappedVenues.Select(mv => mv.Venue).Where(v => v.Match is null), "VenueId", "VenueName"), Model.Venue is object ? "No Venue" : "Select Venue")
            }
            else
            {
                @Html.DisplayFor(model => Model.Venue.VenueName)
            }
        </td>
        <td>
            @if (edit)
            {
                //<select asp-for="@newStatus" asp-items="@Html.GetEnumSelectList<Match.MatchStatus>()" />
                @Html.DropDownListFor(m => newStatus, new SelectList(Enum.GetValues(typeof(Match.MatchStatus))), "Select Status")
            }
            else
            {
                @Html.DisplayFor(model => Model.Status)
            }
        </td>
        break;
    default:
        goto case "Content";
}