@model Match

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MatchOrderValue)
        </th>*@
        break;
    case "Content":
        <td>
            <a asp-controller="Tournament" asp-action="Group" asp-route-tournamentId="@Model.Group.Round.TournamentId" asp-route-id="@Model.GroupId">
                @Html.DisplayFor(model => Model.Group.GroupName)
            </a>
        </td>
        @*<td>
            @Html.DisplayFor(model => Model.MatchOrderValue)
        </td>*@
        break;
    default:
        goto case "Content";
}