@model RoundViewModel

@{
    ViewBag.Title = "Runde";
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
    SettingsViewModel? setvm = Model as SettingsViewModel;
    SeedViewModel? svm = Model as SeedViewModel;
    GroupViewModel? gvm = Model as GroupViewModel;
    MatchViewModel? mvm = Model as MatchViewModel;
    VenueViewModel? vvm = Model as VenueViewModel;
    //ChemodartsWebApp.Controllers.ControllerHelper.QueryId(ViewContext.RouteData.Values["tournamentId"], )
}
@section TournamentNavigationAdditions {
    <li class="nav-item">
        <a cd-route="Seed" cd-action="Index" class="nav-link text-dark">Teilnehmer</a>
    </li>
    <li class="nav-item">
        <a cd-route="Match" cd-action="Index" class="nav-link text-dark">Upcoming Matches</a>
    </li>
    <li class="nav-item">
        <a cd-route="Venue" cd-action="Index" class="nav-link text-dark">Boards</a>
    </li>
}

@section TournamentHierarchyAdditions {
    @{
        //<span> > </span>
        //<a cd-route="Tournament" cd-action="Index" cd-route-tournamentId="@Model.T.TournamentId">Runden</a>

        
        if (setvm is object)
        {
            <span> > </span>
            <a cd-route="Settings" cd-action="Index">Settings</a>
        }

        if(Model.R is object)
        {
            <span> > </span>
            <a cd-route="Round" cd-action="Index" cd-route-roundId="@Model.R.RoundId">Runde "@Model.R.RoundName"</a>

            if (svm is object)
            {
                <span> > </span>
                <a cd-route="Seed" cd-action="Index">Seeds</a>

                if(svm.S is object)
                {
                    <span> > </span>
                    <a cd-route="Seed" cd-action="Details" cd-route-seedId="@svm.S?.SeedId">"@svm.S?.SeedName"</a>
                }
            }
            else if (gvm is object)
            {
                <span> > </span>
                <a cd-route="Group" cd-action="Index" cd-route-groupId="@gvm.G?.GroupId">Gruppe "@gvm.G?.GroupName"</a>
            }
            else if(mvm is object)
            {
                <span> > </span>
                <a cd-route="Match" cd-action="Index">Matches</a>

                if (mvm.M is object)
                {
                    <span> > </span>
                    <a cd-route="Match" cd-action="Index" cd-route-matchId="@mvm.M.MatchId">Match "@mvm.M.Seed1?.Player?.PlayerDartname vs. @mvm.M.Seed2?.Player?.PlayerDartname"</a>
                }
            }
            else if(vvm is object)
            {
                <span> > </span>
                <a cd-route="Venue" cd-action="Index">Orte</a>

                if (vvm.V is object)
                {
                    <span> > </span>
                    <a cd-route="Venue" cd-action="Details" cd-route-venueId="@vvm.V?.VenueId">"@vvm.V?.VenueName"</a>
                }
            }
        }
    }
}

@RenderBody()

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}