@model TournamentViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<br />
@if (User.Identity.IsAuthenticated){  <a cd-route="Tournament" cd-action="Create">Turnier erstellen</a> <hr /> }

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TournamentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Ts.First().TournamentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ts.First().TournamentStart)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Aktion</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ts) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.TournamentId)
            </td>*@
            <td>
                    <a cd-route="Tournament" cd-action="Details" cd-route-tournamentId="@item.TournamentId">
                    @Html.DisplayFor(modelItem => item.TournamentName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentStart)
            </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a cd-route="Tournament" cd-action="Edit" cd-route-tournamentId="@item.TournamentId">Edit</a>
                        <span> | </span>
                        <a cd-route="Tournament" cd-action="Delete" cd-route-tournamentId="@item.TournamentId" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>  
                }
        </tr>
}
    </tbody>
</table>
