@model IEnumerable<ChemodartsWebApp.Models.Round>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoundId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoundName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modus)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoundId)
            </td>
            <td>
                <a asp-controller="Rounds" asp-action="Index" asp-route-id="@item.RoundId">
                    @Html.DisplayFor(modelItem => item.RoundName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modus)
            </td>
        </tr>
}
    </tbody>
</table>
