@model IEnumerable<ChemodartsWebApp.Models.Tournament>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h1>Willkommen bei Chemodarts!</h1>

@if (User.Identity.IsAuthenticated){ <a asp-controller="Tournament" asp-action="TournamentCreate" asp-route-id=0>Turnier erstellen</a> <hr /> }

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TournamentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TournamentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TournamentStart)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.TournamentId)
            </td>*@
            <td>
                <a asp-route-tournamentId="@item.TournamentId" asp-action="Index">
                    @Html.DisplayFor(modelItem => item.TournamentName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentStart)
            </td>
        </tr>
}
    </tbody>
</table>
