@model Tournament

@{
    ViewData["Title"] = "Home Page";
    Round dummyRound = Model.Rounds.FirstOrDefault();
}

<h1>@Model.TournamentName</h1>

@if (User.Identity.IsAuthenticated){ <a cd-route="Round" cd-action="Create">Runde hinzufügen</a>  <hr />}

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.RoundId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => dummyRound.RoundName)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummyRound.Modus)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Aktion</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rounds) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.RoundId)
            </td>*@
            <td>
                <a cd-route="Round" cd-route-roundId="@item.RoundId">
                    @Html.DisplayFor(modelItem => item.RoundName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modus)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                        <a cd-route="Round" cd-action="Delete" cd-route-roundId="@item.RoundId" onclick="return confirm('Are you sure?')"> Delete </a>
                </td>  
            }
        </tr>
}
    </tbody>
</table>
