@model IEnumerable<ChemodartsWebApp.Models.Round>

@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.FirstOrDefault().Tournament.TournamentName</h1>

@if (User.Identity.IsAuthenticated){ <a asp-controller="Tournament" asp-action="RoundCreate">Runde hinzufügen</a>  <hr />}

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.RoundId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.RoundName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modus)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.RoundId)
            </td>*@
            <td>
                <a asp-controller="Tournament" asp-action="Round" asp-route-id="@item.RoundId">
                    @Html.DisplayFor(modelItem => item.RoundName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modus)
            </td>
        </tr>
}
    </tbody>
</table>
