@model Seed

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => Model.SeedNr)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SeedName)
        </th>*@

        @Html.DisplayFor(m => Model.Player, "Player/Columns/PlayerName", new { RenderType = "Header"})
        break;
    case "Content":
        <td>
            <a cd-route="Seed" cd-route-tournamentId="@Model.Tournament.TournamentId" cd-route-seedId="@Model.SeedId" cd-action="Index">
                #@Model.SeedNr
            </a>
        </td>
        @*<td>
            @Html.DisplayFor(model => model.SeedName)
        </td>*@

        <partial name="DisplayTemplates/Seed/Columns/SeedPlayerName" model="@Model"/>
        break;
    default:
        goto case "Content";
}