@model Seed

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => model.SeedNr)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SeedName)
        </th>*@

        @Html.DisplayFor(m => Model.Player, "Player/Columns/PlayerName", new { RenderType = "Header"})
        break;
    case "Content":
        <td>
            @Html.DisplayFor(model => model.SeedNr)
        </td>
        @*<td>
            @Html.DisplayFor(model => model.SeedName)
        </td>*@

        @Html.DisplayFor(m => Model.Player, "Player/Columns/PlayerName", new { RenderType = "Content"})
        break;
    default:
        break;
}