@model Seed

@switch(ViewData["RenderType"])
{
    case "Header":
        @*<th>
            @Html.DisplayNameFor(model => model.MappedTournamentPlayer.TSP_PlayerFixed)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MappedTournamentPlayer.TSP_PlayerCheckedIn)
        </th>
        <th>
            Aktion
        </th>
        break;
    case "Content":
        @*<td>
            @Html.DisplayFor(model => model.MappedTournamentPlayer.TSP_PlayerFixed)
            </td>*@
        <td>
            @if (!Model.MappedTournamentPlayer.TSP_PlayerCheckedIn)
            {
                <a asp-action="PlayerCheckIn" asp-route-id="@Model.SeedId">CheckIn</a>
            }else{
                <a asp-action="PlayerCheckIn" asp-route-id="@Model.SeedId"> @Html.Raw("&#10004;")</a>
            }
        </td>
        <td>
            @if (Model.MappedTournamentPlayer.Player is object)
            {
                <a asp-action="PlayerRemove" asp-route-id="@Model.SeedId">Entfernen</a>
            }
        </td>
        break;
    default:
        goto case "Content";
}