@model SettingsViewModel

@{
    ViewData["Title"] = "Settings Page";
    int selectedRoundId = 0;
    int selectedRound2Id = 0;
}

<div style="color:red;">@ViewBag.UpdateMessage</div>

<br />

<button><a cd-route="Settings" cd-action="Progressions">Progressing Settings</a></button>

<br />
<br />

@if(Model.R is object)
{
    @if (!Model.R.IsRoundStarted)
    {
        <button><a cd-route="Settings" cd-action="StartRound">Start Round</a></button>
    }
    else if (!Model.R.IsRoundFinished)
    {
        <button><a cd-route="Settings" cd-action="FinishRound">Finish Round</a></button>
    }
    else
    {
        <span>Runde beendet</span>
    }
}

<br />
<br />

<div>
    <form asp-action="UpdateSeeds">
        @Html.DropDownListFor(m => selectedRoundId, new SelectList(Model.T.Rounds, "RoundId", "RoundName"), "Select Round")
        <button type="submit">Update Seeds of Round</button>
    </form>
</div>

<br /><br />

<div>
    <form asp-action="RecreateMatches">
        @Html.DropDownListFor(m => selectedRoundId, new SelectList(Model.T.Rounds, "RoundId", "RoundName"), "Select Round")
        <button type="submit">Recreate Matches of Round</button>
    </form>
</div>

<br /><br />

<div>
    <form asp-action="UpdateKoFirstRound">
        @Html.DropDownListFor(m => selectedRoundId, new SelectList(Model.T.Rounds, "RoundId", "RoundName"), "Select First Round")
        @Html.DropDownListFor(m => selectedRound2Id, new SelectList(Model.T.Rounds, "RoundId", "RoundName"), "Select Second Round")
        <button type="submit">Update Second from First Round</button>
    </form>
    <div style="color:red;">@ViewBag.UpdateKoFirstRoundMessage</div>
</div>

<br /><br />

<div>
    <form asp-action="UpdateKoRound">
        @Html.DropDownListFor(m => selectedRoundId, new SelectList(Model.T.Rounds, "RoundId", "RoundName"), "Select Round")
        <button type="submit">Update KO Round</button>
    </form>
    <div style="color:red;">@ViewBag.UpdateKoRoundMessage</div>
</div>